<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" />

<title th:text="#{common.facture}"></title>
</head>
<body >

	<nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
	    <div class="container-fluid">
	        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
	        data-target="#navbar" aria-expanded="false" aria-controls="navbar">	<span class="sr-only">Toggle navigation</span> &#x2630;</button>	<a class="navbar-brand"
	        href="#" th:href="@{/}"></a>
	    </div>
	</nav>
	
	<br>
	<br>
	<br>
	
	<div class="container-fluid">
	    <div class="row">
	    
	        <div class="col-sm-4">
	        
	            <div th:if="${param.success}">
	                <div class="alert alert-info">La facture a été créée avec succés</div>
	            </div>
	            
	            <h1>Nouvelle facture</h1>
	            
<!--            	private Client client;
	
	private String reference;
	
	private Date dateEcheance;
	
	private double montantTotal; -->
				
<!-- 				
				<div sec:authorize="hasRole('ROLE_ADMIN')">
				  This content is only shown to administrators.
				</div>
	            	 -->
	            <form th:action="@{/facture/add}" th:object="${new_facture}" method="post">
	            
	                <p class="error-message" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}"
	                th:text="${error}">Validation error</p>
	                
	                <div class="form-group" th:classappend="${#fields.hasErrors('client')}? 'is-invalid':''">
	                    <label for="client" class="col-form-label">Client</label>
	                    <input id="client" class="form-control form-control-sm border-secondary rounded-0"
	                    th:field="*{client}">
	                    <p class="error-message" th:each="error: ${#fields.errors('reference')}"
	                    th:text="${error}">Validation error</p>
	                </div>
	                
	                <div class="form-group" th:classappend="${#fields.hasErrors('reference')}? 'is-invalid':''">
	                    <label for="reference" class="col-form-label">Référence</label>
	                    <input id="reference" class="form-control form-control-sm border-secondary rounded-0"
	                    th:field="*{reference}">
	                    <p class="error-message" th:each="error: ${#fields.errors('reference')}"
	                    th:text="${error}">Validation error</p>
	                </div>
	                
	                <div class="form-group" th:classappend="${#fields.hasErrors('dateEcheance')}? 'is-invalid':''">
	                    <label for="dateEcheance" class="col-form-label">Date echeance</label>
	                    <input id="dateEcheance" class="form-control form-control-sm border-secondary rounded-0"
	                    th:field="*{dateEcheance}">
	                    <p class="error-message" th:each="error : ${#fields.errors('dateEcheance')}"
	                    th:text="${error}">Validation error</p>
	                </div>
	                
	                <div class="form-group" th:classappend="${#fields.hasErrors('montantTotal')}? 'is-invalid':''">
	                    <label for="montantTotal" class="col-form-label">Montant total</label>
	                    <input id="montantTotal" class="form-control form-control-sm border-secondary rounded-0" th:field="*{montantTotal}">
	                    <p class="error-message" th:each="error : ${#fields.errors('montantTotal')}"
	                    th:text="${error}">Validation error</p>
	                </div>
	                
	                <div class="form-group">
	                    <button type="submit" class="btn btn-success">Ajouter le facture</button>
	                </div>
	            </form>
	        </div>
	        
	        <div class="col-sm-8">
	        
	        <h1>Liste Factures</h1>
	        	
	        	<table class="table table-sm">
	        		<thead>
	        			<tr>
	        				<th>Nom client</th>
	        				<th>Référence</th>
	        				<th>Date écheance</th>
	        				<th>Montant total</th>
	        			</tr>
	        		</thead>
	        		
	        		<tbody>
	        			<tr th:each="facture : ${listFactures}">
	        				<td th:text="${facture.client?.nomClient}"></td>
	        				<td th:text="${facture.reference}"></td>
	        				<td th:text="${facture.dateEcheance}"></td>
	        				<td th:text="${facture.montantTotal}"></td>
	        			</tr>
	        		</tbody>
	        	</table>
	        
	        </div>
	    </div>
	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</body>
</html>